[Unit]
Description=Consul Server
Requires=network-online.target
After=network-online.target

[Service]
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/local/bin/start_server.sh
ExecReload=/bin/kill -HUP
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target